# Assignment 2 date-09/03/2024

# Solution of question no- 1

Q1: In this question you have to scrape data using the filters available on the webpage You have to use the location and salary filter.  
You have to scrape data for ‚ÄúData Scientist‚Äù designation for first 10 job results.  
You have to scrape the job-title, job-location, company name, experience required.  The location filter to be used is ‚ÄúDelhi/NCR‚Äù. The salary filter to be used is ‚Äú3-6‚Äù lakhs  
The task will be done as shown in the below steps:  
1.	first get the web page https://www.naukri.com/ 
2.	Enter ‚ÄúData Scientist‚Äù in ‚ÄúSkill, Designations, and Companies‚Äù field.  
3.	Then click the search button.  
4.	Then apply the location filter and salary filter by checking the respective boxes  
5.	Then scrape the data for the first 10 jobs results you get.  
6.	Finally create a dataframe of the scraped data.

In [2]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\sharm\anaconda3\lib\site-packages (4.18.1)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\sharm\anaconda3\lib\site-packages (from selenium) (1.26.16)
Requirement already satisfied: trio~=0.17 in c:\users\sharm\anaconda3\lib\site-packages (from selenium) (0.24.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\sharm\anaconda3\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\sharm\anaconda3\lib\site-packages (from selenium) (2023.5.7)
Requirement already satisfied: typing_extensions>=4.9.0 in c:\users\sharm\anaconda3\lib\site-packages (from selenium) (4.10.0)
Requirement already satisfied: attrs>=20.1.0 in c:\users\sharm\anaconda3\lib\site-packages (from trio~=0.17->selenium) (22.1.0)
Requirement already satisfied: sortedcontainers in c:\users\sharm\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\sharm\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\users\sharm\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\sharm\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.1)
Requirement already satisfied: cffi>=1.14 in c:\users\sharm\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: wsproto>=0.14 in c:\users\sharm\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\sharm\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\sharm\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\sharm\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [3]:
# calling important libraries/func
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By

In [4]:
#selection of chrome as browser
driver=webdriver.Chrome()

In [5]:
# getting in to the website
driver.get("https://www.naukri.com/")

In [6]:
driver.maximize_window()

In [7]:
#searching for jobtitle and location as per question
job_title=driver.find_element(By.XPATH,"/html/body/div[1]/div[7]/div/div/div[1]/div/div/div/div[1]/div/input")
job_title.send_keys("Data Scientist")

In [8]:
search=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/div[1]/div/input")
search.click()

In [10]:
# applying filters by checking boxes for location & sallery

location_box=driver.find_element(By.XPATH,"/html/body/div/div/main/div[1]/div[1]/div/div/div[2]/div[5]/div[2]/div[3]/label/i")
location_box.click()

In [11]:
sallery_box=driver.find_element(By.XPATH,"/html/body/div/div/main/div[1]/div[1]/div/div/div[2]/div[6]/div[2]/div[2]/label/i")
sallery_box.click()

In [17]:
# for storing scraped data
Job_Title=[]
Job_location=[]
Company_name=[]
Experience_required=[]

In [19]:
#scrapping top 10 data for reqiured attributes (job-title, job-location, company name, experience required)
job_title=driver.find_elements(By.XPATH,'//div[@class=" row1"]/a')
for i in job_title[0:10]:
    title=i.text
    Job_Title.append(title)

In [21]:
job_location=driver.find_elements(By.XPATH,'//span[@class="ni-job-tuple-icon ni-job-tuple-icon-srp-location loc"]')
for k in job_location[0:10]:
    location=k.text
    Job_location.append(location)

In [22]:
company_name=driver.find_elements(By.XPATH,'//a[@class=" comp-name mw-25"]')
for j in company_name[0:10]:
    company=j.text
    Company_name.append(company)

In [23]:
experience_required=driver.find_elements(By.XPATH,'//span[@class="expwdth"]')
for j in experience_required[0:10]:
    experience=j.text
    Experience_required.append(experience)

In [24]:
#checking lenths
print(len(Job_Title),len(Job_location),len(Company_name),len(Experience_required))

10 10 10 10

In [25]:
df1=pd.DataFrame({"Job-Title":Job_Title,"Job-location":Job_location,"Company-name":Company_name,"Experience_required":Experience_required})
df1

,Job-Title,Job-location,Company-name,Experience_required
0,Data Scientist HTHD,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",Ford,1-4 Yrs
1,Data Scientist,"Mumbai, Hyderabad, Gurugram",Deloitte,3-6 Yrs
2,Data Scientist,"Gurugram, Bengaluru",Blackbuck,3-7 Yrs
3,,"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...",Fort Technologies,3-7 Yrs
4,,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",ZS Associates,1-3 Yrs
5,,"Pune, Gurugram",Innovaccer,2-4 Yrs
6,Data Scientist,"Noida, Mumbai, Pune",Times Internet,4-7 Yrs
7,Data Scientist,Noida,The Scholar,2-7 Yrs
8,Lead Data Scientist,Noida,Acenet,3-8 Yrs
9,Data Scientist,"Hyderabad, New Delhi, Pune, Gurugram, Bengaluru",Searchurcollege,3-8 Yrs

# Solution for question-02

Q2: Write a python program to scrape data for ‚ÄúData Scientist‚Äù Job position in ‚ÄúBangalore‚Äù location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data. 
 This task will be done in following steps: 
1.	First get the webpage https://www.shine.com/ 
2.	Enter ‚ÄúData Analyst‚Äù in ‚ÄúJob title, Skills‚Äù field and enter ‚ÄúBangalore‚Äù in ‚Äúenter the location‚Äù field. 
3.	Then click the searchbutton.  
4.	Then scrape the data for the first 10 jobs results you get.  
5.	Finally create a dataframe of the scraped data

In [26]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\sharm\anaconda3\lib\site-packages (4.18.1)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\sharm\anaconda3\lib\site-packages (from selenium) (1.26.16)
Requirement already satisfied: trio~=0.17 in c:\users\sharm\anaconda3\lib\site-packages (from selenium) (0.24.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\sharm\anaconda3\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\sharm\anaconda3\lib\site-packages (from selenium) (2023.5.7)
Requirement already satisfied: typing_extensions>=4.9.0 in c:\users\sharm\anaconda3\lib\site-packages (from selenium) (4.10.0)
Requirement already satisfied: attrs>=20.1.0 in c:\users\sharm\anaconda3\lib\site-packages (from trio~=0.17->selenium) (22.1.0)
Requirement already satisfied: sortedcontainers in c:\users\sharm\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\sharm\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\users\sharm\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\sharm\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.1)
Requirement already satisfied: cffi>=1.14 in c:\users\sharm\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: wsproto>=0.14 in c:\users\sharm\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\sharm\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\sharm\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\sharm\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [27]:
# calling important libraries/functions
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By

In [28]:
#selection of chrome as browser
driver=webdriver.Chrome()

In [30]:
# opening the naukri page on automated chrome browser
driver.get("https://www.shine.com/")

In [31]:
driver.maximize_window()

In [33]:
#searching for jobtitle and location as per question
job_title=driver.find_element(By.XPATH,"/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[1]/div/input")
job_title.send_keys("Data Scientist")

In [34]:
job_location=driver.find_element(By.XPATH,"/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input")
job_location.send_keys("Bangalore")

In [35]:
search=driver.find_element(By.XPATH,"/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[2]/div/button")
search.click()

In [36]:
# for storing scraped data
Job_Title=[]
Job_Location=[]
Company_name=[]
Experience_required=[]

In [37]:
#scrapping top 10 data for reqiured attributes (job-title, job-location, company name, experience required)
job_title=driver.find_elements(By.XPATH,'//h2[@itemprop="name"]/a')
for i in job_title[0:10]:
    title=i.text
    Job_Title.append(title)

In [38]:
job_location=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
for k in job_location[0:10]:
    location=k.text
    Job_Location.append(location)

In [39]:
company_name=driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]/span')
for j in company_name[0:10]:
    company=j.text
    Company_name.append(company)

In [40]:
experience_required=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')
for j in experience_required[0:10]:
    experience=j.text
    Experience_required.append(experience)
    Experience_required

In [41]:
#checking lenths
print(len(Job_Title),len(Job_Location),len(Company_name),len(Experience_required))

10 10 10 10

In [42]:
Df2=pd.DataFrame({"Job-title":Job_Title,"Job-location":Job_Location,"Company-name":Company_name,"Experience_required":Experience_required})
Df2

,Job-title,Job-location,Company-name,Experience_required
0,Data Scientist Opening,Bangalore\n+15,renuka interprises,0 to 4 Yrs
1,Data Scientist Opening,Bangalore\n+15,renuka interprises,0 to 4 Yrs
2,Data Scientist Recruitment,Bangalore\n+9,radhika enterprises,0 to 4 Yrs
3,Data Scientist,Bangalore\n+8,techno endura,0 to 2 Yrs
4,ML Data Scientist,Bangalore\n+3,gujarat facility services hiring fo...,5 to 8 Yrs
5,Data Scientist Urgent Vacancy,Bangalore\n+15,renuka interprises,0 to 4 Yrs
6,Data Scientist,Bangalore\n+4,acme services private limited,3 to 5 Yrs
7,Data Scientist Recruitment,Bangalore\n+15,renuka interprises,0 to 4 Yrs
8,Data Scientist Recruitment,Bangalore\n+15,renuka interprises,0 to 4 Yrs
9,Clinical Data Associate,Bangalore\n+6,techno endura,0 to 1 Yr

# Solution for question no. 03

Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link: https://www.flipkart.com/apple-iphone-11-black-64-gb/product-
reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=F LIPKART 
  
  
 
As shown in the above page you have to scrape the tick marked attributes. These are: 
1.	Rating 
2.	Review summary 
3.	Full review 
4.	You have to scrape this data for first 100reviews.

In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\sharm\anaconda3\lib\site-packages (4.18.1)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\sharm\anaconda3\lib\site-packages (from selenium) (1.26.16)
Requirement already satisfied: trio~=0.17 in c:\users\sharm\anaconda3\lib\site-packages (from selenium) (0.24.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\sharm\anaconda3\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\sharm\anaconda3\lib\site-packages (from selenium) (2023.5.7)
Requirement already satisfied: typing_extensions>=4.9.0 in c:\users\sharm\anaconda3\lib\site-packages (from selenium) (4.10.0)
Requirement already satisfied: attrs>=20.1.0 in c:\users\sharm\anaconda3\lib\site-packages (from trio~=0.17->selenium) (22.1.0)
Requirement already satisfied: sortedcontainers in c:\users\sharm\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\sharm\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\users\sharm\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\sharm\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.1)
Requirement already satisfied: cffi>=1.14 in c:\users\sharm\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: wsproto>=0.14 in c:\users\sharm\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\sharm\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\sharm\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\sharm\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [1]:
# calling important libraries/functions
import selenium
import pandas as pd
from selenium import webdriver
from time import sleep
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By

In [3]:
#selection of chrome as browser
driver=webdriver.Chrome()

In [4]:
# getting in to the website
driver.get("https://www.flipkart.com/apple-iphone-15-black-128-gb/p/itm6ac6485515ae4?pid=MOBGTAGPTB3VS24W&lid=LSTMOBGTAGPTB3VS24WVZNSC6&marketplace=FLIPKART&q=iphone+15&store=tyy/4io&srno=s_1_2&otracker=AS_QueryStore_OrganicAutoSuggest_1_2_na_na_na&otracker1=AS_QueryStore_OrganicAutoSuggest_1_2_na_na_na&fm=organic&iid=b596c120-8114-44e8-9819-0b4dee130fa9.MOBGTAGPTB3VS24W.SEARCH&ppt=hp&ppn=homepage&ssid=s3c8i7dsvk0000001710403029549&qH=2f54b45b321e3ae5")

In [5]:
driver.maximize_window()

In [6]:
# for storing scraped data
Ratings=[]
Review_summary =[]
Full_review=[]

In [7]:
# scraping data for all three attributes page by page

for y in range(0,10):
    rating=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
    for i in rating:
        it=i.text
        Ratings.append(it)
    Ratings[0:100]
        

    review_summary=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
    for j in review_summary:
        jt=j.text
        Review_summary.append(jt) 
    Review_summary[0:100]
    
    full_review=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
    for k in full_review:
        kt=k.text
        Full_review.append(kt)
    Full_review[0:100]
    
    next_button=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[11]')
    next_button.click()
    sleep(2)

In [10]:
print(len(Ratings),len(Review_summary),len(Full_review))

100 100 100

In [11]:
df3=pd.DataFrame({"Rating":Ratings,"Review-summary":Review_summary,"Full-review":Full_review})
df3

,Rating,Review-summary,Full-review
0,5,Just wow!,Camera Quality Is Improved Loving It
1,5,Mind-blowing purchase,High quality cameraüòç
2,5,Classy product,Nice ‚ù§Ô∏è
3,5,Highly recommended,I love this phone. The camera is amazing: its ...
4,4,Good choice,Very nice
...,...,...,...
95,4,Nice product,Mobile gets heat up as soon as put it on the c...
96,5,Must buy!,Lovely !!
97,5,Wonderful,GREAT PRODUCT
98,4,Pretty good,wonderful product
99,4,Nice product,Good

# Solution for question no 4

Q4: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for ‚Äúsneakers‚Äù in the search field. 
You have to scrape 3 attributes of each sneaker: 
1.	Brand 
2.	Product Description 
3.	Price 
As shown in the below image, you have to scrape the above attributes.

In [77]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\sharm\anaconda3\lib\site-packages (4.18.1)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\sharm\anaconda3\lib\site-packages (from selenium) (1.26.16)
Requirement already satisfied: trio~=0.17 in c:\users\sharm\anaconda3\lib\site-packages (from selenium) (0.24.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\sharm\anaconda3\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\sharm\anaconda3\lib\site-packages (from selenium) (2023.5.7)
Requirement already satisfied: typing_extensions>=4.9.0 in c:\users\sharm\anaconda3\lib\site-packages (from selenium) (4.10.0)
Requirement already satisfied: attrs>=20.1.0 in c:\users\sharm\anaconda3\lib\site-packages (from trio~=0.17->selenium) (22.1.0)
Requirement already satisfied: sortedcontainers in c:\users\sharm\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\sharm\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\users\sharm\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\sharm\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.1)
Requirement already satisfied: cffi>=1.14 in c:\users\sharm\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: wsproto>=0.14 in c:\users\sharm\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\sharm\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\sharm\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\sharm\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [78]:
# calling important libraries/functions
import selenium
import pandas as pd
from selenium import webdriver
from time import sleep
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By

In [79]:
#selection of chrome as browser
driver=webdriver.Chrome()

In [80]:
# getting in to the website
driver.get("https://www.flipkart.com/")

In [81]:
driver.maximize_window()

In [82]:
store=driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div/div/div/div/div[1]/div/div/div/div[1]/div[1]/header/div[2]/div[3]/div/a[1]/img")
store.click()

In [83]:
#searching for sneakers
sneakers=driver.find_element(By.XPATH,"/html/body/div/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input")
sneakers.send_keys("sneakers")

In [84]:
# for clicking on search
search=driver.find_element(By.CLASS_NAME,"L0Z3Pu")
search.click()

In [92]:
# for storing scraped data
Brand=[]
Product_discription=[]
Price=[]

In [94]:
start=0
end=4

for page in range(start,end):
    brand=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in brand:
        it=i.text
        Brand.append(it)
    
    
    disc=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for j in disc:
        jt=j.text
        Product_discription.append(jt)
    
    
    price=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for k in price:
        kt=k.text
        Price.append(kt)
    
        
    next_button=driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')
    next_button.click()
    sleep(1)

In [97]:
print(len(Brand[:100]),len(Product_discription[:100]),len(Price[:100]))

100 100 100

In [99]:
df4=pd.DataFrame({"Brand":Brand[:100],"Product-description":Product_discription[:100],"Price":Price[:100]})
df4

              Brand                                Product-description   Price
0            BRUTON               Modern Trendy Shoes Sneakers For Men    ‚Çπ294
1            BRUTON      Combo Pack Of 2 Casual Shoes Sneakers For Men    ‚Çπ499
2          URBANBOX  Trending Stylish Casual Outdoor Shoes Sneakers...    ‚Çπ299
3         Deals4you                                 Sneakers For Women    ‚Çπ439
4          RED TAPE  Casual Sneakers Shoes for Men | Soft Cushioned...  ‚Çπ1,179
..              ...                                                ...     ...
95             PUMA                      KENRIDGE 2.0 Sneakers For Men  ‚Çπ1,429
96  U.S. POLO ASSN.                        BRENTT 2.0 Sneakers For Men    ‚Çπ399
97  U.S. POLO ASSN.                                 Sneakers For Women    ‚Çπ619
98           Shozie                      KENRIDGE 2.0 Sneakers For Men  ‚Çπ1,709
99       HIGHLANDER                        GAIMAN 2.O Sneakers For Men  ‚Çπ1,189

[100 rows x 3 columns]

# Solution for question no. 5

Q5: Go to webpage https://www.amazon.in/ Enter ‚ÄúLaptop‚Äù in the search field and then click the search icon. Then set CPU Type filter to ‚ÄúIntel Core i7‚Äù as shown in the below image: 
            After setting the filters scrape first 10 laptops data. You have to scrape 3 attributes for each laptop: 
1.	Title 
2.	Ratings 
3.	Price

In [43]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\sharm\anaconda3\lib\site-packages (4.18.1)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\sharm\anaconda3\lib\site-packages (from selenium) (1.26.16)
Requirement already satisfied: trio~=0.17 in c:\users\sharm\anaconda3\lib\site-packages (from selenium) (0.24.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\sharm\anaconda3\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\sharm\anaconda3\lib\site-packages (from selenium) (2023.5.7)
Requirement already satisfied: typing_extensions>=4.9.0 in c:\users\sharm\anaconda3\lib\site-packages (from selenium) (4.10.0)
Requirement already satisfied: attrs>=20.1.0 in c:\users\sharm\anaconda3\lib\site-packages (from trio~=0.17->selenium) (22.1.0)
Requirement already satisfied: sortedcontainers in c:\users\sharm\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\sharm\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\users\sharm\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\sharm\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.1)
Requirement already satisfied: cffi>=1.14 in c:\users\sharm\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: wsproto>=0.14 in c:\users\sharm\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\sharm\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\sharm\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\sharm\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [44]:
# calling important libraries/functions
import selenium
import pandas as pd
from selenium import webdriver
from time import sleep
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By

In [45]:
#selection of chrome as browser
driver=webdriver.Chrome()

In [46]:
# getting in to the website
driver.get("https://www.amazon.in/")

In [47]:
driver.maximize_window()

In [48]:
#searching for jobtitle and location as per question
product=driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input")
product.send_keys("Laptop")

In [49]:
search=driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input')
search.click()

In [51]:
# checking filter box
filter_box=driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[5]/ul[19]/span/span[9]/li/span/a/div/label/i")
filter_box.click()

In [64]:
# for storing scraped data
Title=[]
Rating_s=[]
Price=[]

In [65]:
title=driver.find_elements(By.XPATH,'//span[@class="a-size-medium a-color-base a-text-normal"]')
for i in title[0:10]:
    title_tag=i.text
    Title.append(title_tag)

In [66]:
ratings=driver.find_elements(By.XPATH,'//div[@class="a-row a-size-small"]/span ')
for j in ratings[0:10]:
    rating_tag=j.text
    Rating_s.append(rating_tag)

In [59]:
Rating_s

['', '146', '', '88', '', '459', '', '4', '', '49']

In [67]:
price=driver.find_elements(By.XPATH,'//span[@class="a-price"]')
for l in price[0:10]:
    price_tag=l.text
    Price.append(price_tag)

In [68]:
# checking lengths
print(len(Title),len(Rating_s),len(Price))

10 10 10

Note: after various tries rating section showing same (df5) data

In [69]:
df5=pd.DataFrame({"Titles":Title,"Ratings":Rating_s,"Prices":Price})
df5

                                              Titles Ratings     Prices
0  HP Pavilion X360 11th Gen Intel Core i7 14" (3...            ‚Çπ66,990
1  MSI Modern 14, Intel 12th Gen. i7-1255U, 36CM ...     146    ‚Çπ49,990
2  Lenovo IdeaPad Slim 3 Intel Core i7 12th Gen 1...            ‚Çπ62,490
3  Lenovo Yoga Slim7 Carbon Intel Evo i7 1260P 13...      88  ‚Çπ1,19,990
4  HP Laptop 15s, 12th Gen Intel Core i7-1255U, 1...            ‚Çπ62,490
5  HP Pavilion 14 11th Gen Intel Core i7 16GB/1TB...     459    ‚Çπ84,899
6  ASUS TUF Gaming F15, 15.6"(39.62 cms) FHD 144H...            ‚Çπ74,990
7  Acer Travelmate Business Laptop Intel Core i7-...       4    ‚Çπ49,990
8  (Refurbished) Dell Latitude E7470 Intel Core i...            ‚Çπ24,990
9  Lenovo IdeaPad Slim 5 Intel Core i7 13700H 16"...      49    ‚Çπ89,190

# solution of question no. 6

 
Q6: Write a python program to scrape data for Top 1000 Quotes of All Time. 
The above task will be done in following steps: 
1.	First get the webpagehttps://www.azquotes.com/  
2.	Click on Top Quote 
3.	Than scrap a) Quote b) Author c) Type Of Quotes

In [2]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\sharm\anaconda3\lib\site-packages (4.18.1)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\sharm\anaconda3\lib\site-packages (from selenium) (1.26.16)
Requirement already satisfied: trio~=0.17 in c:\users\sharm\anaconda3\lib\site-packages (from selenium) (0.24.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\sharm\anaconda3\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\sharm\anaconda3\lib\site-packages (from selenium) (2023.5.7)
Requirement already satisfied: typing_extensions>=4.9.0 in c:\users\sharm\anaconda3\lib\site-packages (from selenium) (4.10.0)
Requirement already satisfied: attrs>=20.1.0 in c:\users\sharm\anaconda3\lib\site-packages (from trio~=0.17->selenium) (22.1.0)
Requirement already satisfied: sortedcontainers in c:\users\sharm\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\sharm\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\users\sharm\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\sharm\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.1)
Requirement already satisfied: cffi>=1.14 in c:\users\sharm\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: wsproto>=0.14 in c:\users\sharm\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\sharm\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\sharm\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\sharm\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [59]:
# calling important libraries/functions
import selenium
import pandas as pd
from selenium import webdriver
from time import sleep
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By

In [60]:
#selection of chrome as browser
driver=webdriver.Chrome()

In [62]:
driver.get("https://www.azquotes.com/")

In [63]:
driver.maximize_window()

In [64]:
# clicking on top quotes
Top_quote=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[1]/div/div[3]/ul/li[5]/a')
Top_quote.click()

In [77]:
# for storing scraped data
quotes=[]
Authors=[]
Type_quote=[]

In [78]:

for x in range(10):
    Quotes=driver.find_elements(By.XPATH,'//a[@class="title"]')
    for i in Quotes:
        qt=i.text
        quotes.append(qt)
    quotes[:1000]
    
    
    
    author=driver.find_elements(By.XPATH,'//div[@class="author"]/a')
    for j in author:
        at=j.text
        Authors.append(at)
    Authors[:1000]
        
        
    
    type_=driver.find_elements(By.XPATH,'//div[@class="tags"]')
    for k in type_:
        tt=k.text
        Type_quote.append(tt)
    Type_quote[:1000]
        
    next_button=driver.find_element(By.CLASS_NAME,"next")
    next_button.click()
    sleep(1)

In [80]:
len(quotes),len(Authors),len(Type_quote)

(1000, 1000, 1000)

In [81]:
df6=pd.DataFrame({"Quote":quotes,"Author":Authors,"Type of quotes":Type_quote})
df6

,Quote,Author,Type of quotes
0,The essence of strategy is choosing what not t...,Michael Porter,"Essence, Deep Thought, Transcendentalism"
1,One cannot and must not try to erase the past ...,Golda Meir,"Inspiration, Past, Trying"
2,Patriotism means to stand by the country. It d...,Theodore Roosevelt,"Country, Peace, War"
3,Death is something inevitable. When a man has ...,Nelson Mandela,"Inspirational, Motivational, Death"
4,You have to love a nation that celebrates its ...,Erma Bombeck,"4th Of July, Food, Patriotic"
...,...,...,...
995,Regret for the things we did can be tempered b...,Sydney J. Harris,"Love, Inspirational, Motivational"
996,America... just a nation of two hundred millio...,Hunter S. Thompson,"Gun, Two, Qualms About"
997,For every disciplined effort there is a multip...,Jim Rohn,"Inspirational, Greatness, Best Effort"
998,"The spiritual journey is individual, highly pe...",Ram Dass,"Spiritual, Truth, Yoga"
999,The mind is not a vessel to be filled but a fi...,Plutarch,"Inspirational, Leadership, Education"

# Solution of question no.08

Q8: Write a python program to display list of 50 Most expensive cars in the world (i.e. Car name and Price) from https://www.motor1.com/  
 
This task will be done in following steps: 
1.	First get the webpage https://www.motor1.com/ 
2.	Then You have to type in the search bar ‚Äô50 most expensive cars‚Äô 
3.	Then click on 50 most expensive cars in the world.. 
4.	Then scrap the mentioned data and make the dataframe

In [13]:
# calling important libraries/functions
import selenium
import pandas as pd
from selenium import webdriver
from time import sleep
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By

In [14]:
#selection of chrome as browser
driver=webdriver.Chrome()

In [15]:
driver.get("https://www.motor1.com/")

In [16]:
driver.maximize_window()

In [20]:
search_icon=driver.find_element(By.XPATH,"/html/body/div[9]/div[2]/div/div/div[3]/div/div/button")
search_icon.click()

In [21]:
search_term=driver.find_element(By.XPATH,"/html/body/div[9]/div[2]/div/div/div[3]/div/div/div/form/input")
search_term.send_keys("50 most expensive cars")

In [22]:
click_search=driver.find_element(By.XPATH,"/html/body/div[9]/div[2]/div/div/div[3]/div/div/div/form/button[1]")
click_search.click()

In [23]:
car=driver.find_element(By.XPATH,"/html/body/div[9]/div[9]/div/div[1]/div/div/div[1]/div/div[1]/h3/a")
car.click()

In [24]:
# for storing scraped car data
Car_name=[]
Price=[]

In [25]:
# extracting data of car names
   
    car_name=driver.find_elements(By.XPATH,'//h3[@class="subheader"]')
    for i in car_name[0:50]:
        it=i.text
        Car_name.append(it)

In [27]:
# extracting data for car prices

price=driver.find_elements(By.XPATH,'//div[@class="postBody description e-content"]/p/strong')
for j in price[0:50]:
    jt=j.text
    Price.append(jt)

In [28]:
print(len(Car_name),len(Price))

50 50

In [29]:
df8=pd.DataFrame({"Car-name":Car_name,"Price":Price})
df8

                              Car-name                        Price
0                  Aston Martin Valour          Price: $1.5 Million
1                         McLaren Elva          Price: $1.7 Million
2                          Czinger 21C          Price: $1.7 Million
3                        Ferrari Monza          Price: $1.7 Million
4                   Gordon Murray T.33          Price: $1.7 Million
5                    Koenigsegg Gemera          Price: $1.7 Million
6                          Zenvo TSR-S          Price: $1.7 Million
7                   Hennessey Venom F5          Price: $1.8 Million
8                      Bentley Bacalar          Price: $1.9 Million
9        Hispano Suiza Carmen Boulogne          Price: $1.9 Million
10              Bentley Mulliner Batur          Price: $2.0 Million
11                        Deus Vayanne          Price: $2.0 Million
12                         SSC Tuatara          Price: $2.0 Million
13                         Lotus Evija          Price: $2.1 Million
14                 Aston Martin Vulcan          Price: $2.3 Million
15                          Delage D12          Price: $2.3 Million
16                 Ferrari Daytona SP3          Price: $2.3 Million
17                   McLaren Speedtail          Price: $2.3 Million
18                        Rimac Nevera          Price: $2.4 Million
19                       Pagani Utopia          Price: $2.5 Million
20                Pininfarina Battista          Price: $2.5 Million
21                  Gordon Murray T.50          Price: $2.6 Million
22                Lamborghini Countach          Price: $2.6 Million
23            Mercedes-AMG Project One          Price: $2.7 Million
24                        Zenvo Aurora          Price: $2.8 Million
25                 Aston Martin Victor          Price: $3.0 Million
26         Hennessey Venom F5 Roadster                 $3.0 Million
27                    Koenigsegg Jesko          Price: $3.0 Million
28               Aston Martin Valkyrie          Price: $3.2 Million
29           W Motors Lykan Hypersport          Price: $3.4 Million
30                       McLaren Solus                 $3.5 Million
31                    Lamborghini Sian          Price: $3.6 million
32                    Koenigsegg CC850          Price: $3.7 Million
33     Bugatti Chiron Super Sport 300+          Price: $3.9 Million
34                  Lamborghini Veneno          Price: $4.5 Million
35                      Bugatti Bolide          Price: $4.7 Million
36           Pininfarina B95 Speedster          Price: $4.8 Million
37                     Bugatti Mistral          Price: $5.0 Million
38                 Pagani Huayra Imola          Price: $5.4 Million
39                        Bugatti Divo          Price: $5.8 Million
40                 SP Automotive Chaos          Price: $6.4 Million
41                    Pagani Codalunga          Price: $7.4 Million
42                        777 Hypercar          Price: $7.5 Million
43            Mercedes-Maybach Exelero          Price: $8.0 Million
44                  Bugatti Centodieci          Price: $9.0 Million
45             Bugatti Chiron Profil√©e         Price: $10.8 Million
46                Rolls-Royce Sweptail         Price: $12.8 Million
47            Bugatti La Voiture Noire         Price: $13.4 Million
48              Rolls-Royce Boat Tail*  Price: $28.0 Million (est.)
49  Rolls-Royce La Rose Noire Droptail    Price: $30 Million (est.)

# solution of question no. 07

Q8: Write a python program to display list of 50 Most expensive cars in the world (i.e. Car name and Price) from https://www.motor1.com/

This task will be done in following steps: 1. First get the webpage https://www.motor1.com/ 2. Then You have to type in the search bar ‚Äô50 most expensive cars‚Äô 3. Then click on 50 most expensive cars in the world.. 4. Then scrap the mentioned data and make the dataframe

In [77]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\sharm\anaconda3\lib\site-packages (4.18.1)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\sharm\anaconda3\lib\site-packages (from selenium) (1.26.16)
Requirement already satisfied: trio~=0.17 in c:\users\sharm\anaconda3\lib\site-packages (from selenium) (0.24.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\sharm\anaconda3\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\sharm\anaconda3\lib\site-packages (from selenium) (2023.5.7)
Requirement already satisfied: typing_extensions>=4.9.0 in c:\users\sharm\anaconda3\lib\site-packages (from selenium) (4.10.0)
Requirement already satisfied: attrs>=20.1.0 in c:\users\sharm\anaconda3\lib\site-packages (from trio~=0.17->selenium) (22.1.0)
Requirement already satisfied: sortedcontainers in c:\users\sharm\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\sharm\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\users\sharm\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\sharm\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.1)
Requirement already satisfied: cffi>=1.14 in c:\users\sharm\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: wsproto>=0.14 in c:\users\sharm\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\sharm\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\sharm\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\sharm\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [78]:
# calling important libraries/functions
import selenium
import pandas as pd
from selenium import webdriver
from time import sleep
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By

In [79]:
#selection of chrome as browser
driver=webdriver.Chrome()

In [80]:
# browsing the website
driver.get("https://www.jagranjosh.com/general-knowledge/list-ofall-prime-ministers-of-india-1473165149-1")

In [81]:
driver.maximize_window()

In [86]:
# for storing extracted data
PM_data=[]

In [88]:
# extracting/scraping data for attributes

data=driver.find_elements(By.XPATH,'//td[@valign="top"]')
for i in data:
    it=i.text
    PM_data.append(it)

In [89]:
PM_name

['1.',
 'Jawahar Lal Nehru',
 '(1889‚Äì1964)',
 '15 August 1947 to 27 May 1964\n16 years, 286 days',
 'The first prime minister of India and the longest-serving PM of India, the first to die in office.',
 '2.',
 'Gulzarilal Nanda (Acting)',
 '(1898-1998)',
 '27 May 1964 to 9 June 1964,\n13 days',
 'First acting PM of India',
 '3.',
 'Lal Bahadur Shastri',
 '(1904‚Äì1966)',
 '9 June 1964 to 11 January 1966\n1 year, 216 days',
 "He has given the slogan of 'Jai Jawan Jai Kisan' during the Indo-Pak war of 1965",
 '5.',
 'Indira Gandhi',
 '(1917‚Äì1984)',
 '24 January 1966 to 24 March 1977\n11 years, 59 days',
 'First female Prime Minister of India',
 '6.',
 'Morarji Desai',
 '(1896‚Äì1995)',
 '24 March 1977 to  28 July 1979 \n2 year, 126 days',
 'Oldest to become PM (81 years old) and first to resign from office',
 '7.',
 'Charan Singh',
 '(1902‚Äì1987)',
 '28 July 1979 to 14 January 1980\n170 days',
 'Only PM who did not face the Parliament',
 '8.',
 'Indira Gandhi',
 '(1917‚Äì1984)',
 '14 January 1980 to 31 October 1984\n4 years, 291 days',
 'The first lady who served as PM for the second term',
 '9.',
 'Rajiv Gandhi',
 '(1944‚Äì1991)',
 '31 October 1984 to 2 December 1989\n5 years, 32 days',
 'Youngest to become PM (40 years old)',
 '10.',
 'V. P. Singh',
 '(1931‚Äì2008)',
 '2 December 1989 to 10 November 1990\n343 days',
 'First PM to step down after a vote of no confidence',
 '11.',
 'Chandra Shekhar',
 '(1927‚Äì2007)',
 '10 November 1990 to 21 June 1991\n223 days',
 'He belongs to  Samajwadi Janata Party',
 '12.',
 'P. V. Narasimha Rao',
 '(1921‚Äì2004)',
 '21 June 1991 to 16 May 1996\n4 years, 330 days',
 'First PM from South India',
 '13.',
 'Atal Bihari Vajpayee',
 '(1924- 2018)',
 '16 May 1996 to 1 June 1996\n16 days',
 'PM for shortest tenure',
 '14.',
 'H. D. Deve Gowda',
 '(born 1933)',
 '1 June 1996 to 21 April 1997\n324 days',
 'He belongs to  Janata Dal',
 '15.',
 'Inder Kumar Gujral',
 '(1919‚Äì2012)',
 '21 April 1997 to 19 March 1998 \n332 days',
 '------',
 '16.',
 'Atal Bihari Vajpayee',
 '(1924-2018)',
 '19 March 1998 to 22 May 2004 \n6 years, 64 days',
 ' The first non-congress PM who completed a full term as PM',
 '17.',
 'Manmohan Singh',
 '(born 1932)',
 '22 May 2004 to 26 May 2014   \n10 years, 4 days',
 ' First Sikh PM',
 '18.',
 'Narendra Modi',
 '(born 1950)',
 '26 May 2014 - 2019',
 '4th Prime Minister of India who served two consecutive tenures',
 '1.',
 'Jawahar Lal Nehru',
 '(1889‚Äì1964)',
 '15 August 1947 to 27 May 1964\n16 years, 286 days',
 'The first prime minister of India and the longest-serving PM of India, the first to die in office.',
 '2.',
 'Gulzarilal Nanda (Acting)',
 '(1898-1998)',
 '27 May 1964 to 9 June 1964,\n13 days',
 'First acting PM of India',
 '3.',
 'Lal Bahadur Shastri',
 '(1904‚Äì1966)',
 '9 June 1964 to 11 January 1966\n1 year, 216 days',
 "He has given the slogan of 'Jai Jawan Jai Kisan' during the Indo-Pak war of 1965",
 '5.',
 'Indira Gandhi',
 '(1917‚Äì1984)',
 '24 January 1966 to 24 March 1977\n11 years, 59 days',
 'First female Prime Minister of India',
 '6.',
 'Morarji Desai',
 '(1896‚Äì1995)',
 '24 March 1977 to  28 July 1979 \n2 year, 126 days',
 'Oldest to become PM (81 years old) and first to resign from office',
 '7.',
 'Charan Singh',
 '(1902‚Äì1987)',
 '28 July 1979 to 14 January 1980\n170 days',
 'Only PM who did not face the Parliament',
 '8.',
 'Indira Gandhi',
 '(1917‚Äì1984)',
 '14 January 1980 to 31 October 1984\n4 years, 291 days',
 'The first lady who served as PM for the second term',
 '9.',
 'Rajiv Gandhi',
 '(1944‚Äì1991)',
 '31 October 1984 to 2 December 1989\n5 years, 32 days',
 'Youngest to become PM (40 years old)',
 '10.',
 'V. P. Singh',
 '(1931‚Äì2008)',
 '2 December 1989 to 10 November 1990\n343 days',
 'First PM to step down after a vote of no confidence',
 '11.',
 'Chandra Shekhar',
 '(1927‚Äì2007)',
 '10 November 1990 to 21 June 1991\n223 days',
 'He belongs to  Samajwadi Janata Party',
 '12.',
 'P. V. Narasimha Rao',
 '(1921‚Äì2004)',
 '21 June 1991 to 16 May 1996\n4 years, 330 days',
 'First PM from South India',
 '13.',
 'Atal Bihari Vajpayee',
 '(1924- 2018)',
 '16 May 1996 to 1 June 1996\n16 days',
 'PM for shortest tenure',
 '14.',
 'H. D. Deve Gowda',
 '(born 1933)',
 '1 June 1996 to 21 April 1997\n324 days',
 'He belongs to  Janata Dal',
 '15.',
 'Inder Kumar Gujral',
 '(1919‚Äì2012)',
 '21 April 1997 to 19 March 1998 \n332 days',
 '------',
 '16.',
 'Atal Bihari Vajpayee',
 '(1924-2018)',
 '19 March 1998 to 22 May 2004 \n6 years, 64 days',
 ' The first non-congress PM who completed a full term as PM',
 '17.',
 'Manmohan Singh',
 '(born 1932)',
 '22 May 2004 to 26 May 2014   \n10 years, 4 days',
 ' First Sikh PM',
 '18.',
 'Narendra Modi',
 '(born 1950)',
 '26 May 2014 - 2019',
 '4th Prime Minister of India who served two consecutive tenures',
 '1.',
 'Jawahar Lal Nehru',
 '(1889‚Äì1964)',
 '15 August 1947 to 27 May 1964\n16 years, 286 days',
 'The first prime minister of India and the longest-serving PM of India, the first to die in office.',
 '2.',
 'Gulzarilal Nanda (Acting)',
 '(1898-1998)',
 '27 May 1964 to 9 June 1964,\n13 days',
 'First acting PM of India',
 '3.',
 'Lal Bahadur Shastri',
 '(1904‚Äì1966)',
 '9 June 1964 to 11 January 1966\n1 year, 216 days',
 "He has given the slogan of 'Jai Jawan Jai Kisan' during the Indo-Pak war of 1965",
 '5.',
 'Indira Gandhi',
 '(1917‚Äì1984)',
 '24 January 1966 to 24 March 1977\n11 years, 59 days',
 'First female Prime Minister of India',
 '6.',
 'Morarji Desai',
 '(1896‚Äì1995)',
 '24 March 1977 to  28 July 1979 \n2 year, 126 days',
 'Oldest to become PM (81 years old) and first to resign from office',
 '7.',
 'Charan Singh',
 '(1902‚Äì1987)',
 '28 July 1979 to 14 January 1980\n170 days',
 'Only PM who did not face the Parliament',
 '8.',
 'Indira Gandhi',
 '(1917‚Äì1984)',
 '14 January 1980 to 31 October 1984\n4 years, 291 days',
 'The first lady who served as PM for the second term',
 '9.',
 'Rajiv Gandhi',
 '(1944‚Äì1991)',
 '31 October 1984 to 2 December 1989\n5 years, 32 days',
 'Youngest to become PM (40 years old)',
 '10.',
 'V. P. Singh',
 '(1931‚Äì2008)',
 '2 December 1989 to 10 November 1990\n343 days',
 'First PM to step down after a vote of no confidence',
 '11.',
 'Chandra Shekhar',
 '(1927‚Äì2007)',
 '10 November 1990 to 21 June 1991\n223 days',
 'He belongs to  Samajwadi Janata Party',
 '12.',
 'P. V. Narasimha Rao',
 '(1921‚Äì2004)',
 '21 June 1991 to 16 May 1996\n4 years, 330 days',
 'First PM from South India',
 '13.',
 'Atal Bihari Vajpayee',
 '(1924- 2018)',
 '16 May 1996 to 1 June 1996\n16 days',
 'PM for shortest tenure',
 '14.',
 'H. D. Deve Gowda',
 '(born 1933)',
 '1 June 1996 to 21 April 1997\n324 days',
 'He belongs to  Janata Dal',
 '15.',
 'Inder Kumar Gujral',
 '(1919‚Äì2012)',
 '21 April 1997 to 19 March 1998 \n332 days',
 '------',
 '16.',
 'Atal Bihari Vajpayee',
 '(1924-2018)',
 '19 March 1998 to 22 May 2004 \n6 years, 64 days',
 ' The first non-congress PM who completed a full term as PM',
 '17.',
 'Manmohan Singh',
 '(born 1932)',
 '22 May 2004 to 26 May 2014   \n10 years, 4 days',
 ' First Sikh PM',
 '18.',
 'Narendra Modi',
 '(born 1950)',
 '26 May 2014 - 2019',
 '4th Prime Minister of India who served two consecutive tenures']

In [90]:
df7=pd.DataFrame({"PM-data":PM_data})
df7

                                              PM-data
0                                                  1.
1                                   Jawahar Lal Nehru
2                                         (1889‚Äì1964)
3   15 August 1947 to 27 May 1964\n16 years, 286 days
4   The first prime minister of India and the long...
..                                                ...
80                                                18.
81                                      Narendra Modi
82                                        (born 1950)
83                                 26 May 2014 - 2019
84  4th Prime Minister of India who served two con...

[85 rows x 1 columns]

# DONE, Thanks for visit