# Assignment-2 (Selenium)

# solution for question no- 2

In [1]:
#install selenium
!pip install selenium

Requirement already satisfied: selenium in c:\users\sharm\anaconda3\lib\site-packages (4.18.1)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\sharm\anaconda3\lib\site-packages (from selenium) (1.26.16)
Requirement already satisfied: trio~=0.17 in c:\users\sharm\anaconda3\lib\site-packages (from selenium) (0.24.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\sharm\anaconda3\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\sharm\anaconda3\lib\site-packages (from selenium) (2023.5.7)
Requirement already satisfied: typing_extensions>=4.9.0 in c:\users\sharm\anaconda3\lib\site-packages (from selenium) (4.10.0)
Requirement already satisfied: attrs>=20.1.0 in c:\users\sharm\anaconda3\lib\site-packages (from trio~=0.17->selenium) (22.1.0)
Requirement already satisfied: sortedcontainers in c:\users\sharm\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\sharm\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\users\sharm\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\sharm\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.1)
Requirement already satisfied: cffi>=1.14 in c:\users\sharm\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: wsproto>=0.14 in c:\users\sharm\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\sharm\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\sharm\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\sharm\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [2]:
#importing required libraries/tools
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By

In [3]:
# selecting Chrome browser
driver = webdriver.Chrome()

In [5]:
#getting into the website
driver.get("https://www.naukri.com/")

In [6]:
# searching for job title and location of job
job_title=driver.find_element(By.CLASS_NAME,"suggestor-input ")
job_title.send_keys("Data Analyst")

In [7]:

location=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/div[1]/div/input")
location.send_keys("Bangalore")

In [8]:
# for search 
search=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[6]")
search.click()

In [9]:
# for storing extracted data
Job_title=[]
Job_location=[]
Company_name=[]
Experience_required=[]

In [10]:
# scraping data for all four attributes

title=driver.find_elements(By.CLASS_NAME,"row1")
for i in title[0:10]:
    title_tag=i.text
    Job_title.append(title_tag)

In [11]:
location=driver.find_elements(By.CLASS_NAME,"locWdth")
for j in location[0:10]:
    location_tag=j.text
    Job_location.append(location_tag)

In [12]:
company=driver.find_elements(By.XPATH,'//div[@class=" row2"]/span/a[1]')
for k in company[0:10]:
    name=k.text
    Company_name.append(name)

In [13]:
Experience=driver.find_elements(By.CLASS_NAME,"expwdth")
for l in Experience[0:10]:
    experience=l.text
    Experience_required.append(experience)

In [14]:
#creating dataframe and for scrapped data

df2=pd.DataFrame({'Job-Title':Job_title,'Job-Location':Job_location,'Company-Name':Company_name,'Experience-Required':Experience_required})

In [15]:
df2

,Job-Title,Job-Location,Company-Name,Experience-Required
0,Data Analyst,Bengaluru,Mensa Brand Technologies,2-4 Yrs
1,FP&A Data Analyst,"Pune, Bengaluru",Alphawave SEMI,2-5 Yrs
2,Data Analyst,Remote,Puresoftware,5-10 Yrs
3,Data Analyst,Hybrid - Bengaluru(Electronic City),MNC (Permanent Role ),7-12 Yrs
4,Data Analyst,Bengaluru,Janes,0-3 Yrs
5,,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",TELUS International,1-4 Yrs
6,,Bengaluru,Zoom Info,4-8 Yrs
7,,"Hyderabad, Bengaluru",Team Lease Dgital,6-10 Yrs
8,"Data Analyst(Python , Pyspark )_ MNC","Hyderabad, Bengaluru, Delhi / NCR",Tata Consultancy Services (TCS),4-9 Yrs
9,Data Sourcing & Triage Analyst,Bengaluru,Softtek,4-6 Yrs

# Solution for question 1

# for further questions please open next file

In [2]:
# installing selenium
!pip install selenium

Requirement already satisfied: selenium in c:\users\sharm\anaconda3\lib\site-packages (4.18.1)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\sharm\anaconda3\lib\site-packages (from selenium) (1.26.16)
Requirement already satisfied: trio~=0.17 in c:\users\sharm\anaconda3\lib\site-packages (from selenium) (0.24.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\sharm\anaconda3\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\sharm\anaconda3\lib\site-packages (from selenium) (2023.5.7)
Requirement already satisfied: typing_extensions>=4.9.0 in c:\users\sharm\anaconda3\lib\site-packages (from selenium) (4.10.0)
Requirement already satisfied: attrs>=20.1.0 in c:\users\sharm\anaconda3\lib\site-packages (from trio~=0.17->selenium) (22.1.0)
Requirement already satisfied: sortedcontainers in c:\users\sharm\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\sharm\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\users\sharm\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\sharm\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.1)
Requirement already satisfied: cffi>=1.14 in c:\users\sharm\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: wsproto>=0.14 in c:\users\sharm\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\sharm\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\sharm\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\sharm\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [3]:
# calling important libraries/tools
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By

In [4]:
#selecting browser
driver=webdriver.Chrome()

In [5]:
# going to web page
driver.get("https://www.shine.com/ ")

In [8]:
# giving input foe job title & job location
job_title=driver.find_element(By.XPATH,"/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[1]/div/input")
job_title.send_keys("Data Analyst")

In [9]:
 location=driver.find_element(By.XPATH,"/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input")
location.send_keys("Bangalore")

In [10]:
# for click on search
search=driver.find_element(By.XPATH,"/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[2]/div/button")
search.click()

In [11]:
# for storing scrapped data
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [12]:
# extracting data for all four attributes 
location=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
for i in location[0:10]:
    locate_tag=i.text
    job_location.append(locate_tag)

In [13]:
company=driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]/span')
for k in company[0:10]:
    name=k.text
    company_name.append(name)

In [15]:
Experience=driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_lists__fdnsc"]/div')
for l in Experience[0:10]:
    experience=l.text
    experience_required.append(experience)

In [19]:
#creating dataframe
df1=pd.DataFrame({'Job-location':job_location,'Company-name':company_name,'Experience-required':experience_required})

In [20]:
df1

     Job-location                         Company-name Experience-required
0   Bangalore\n+9             sahast sales corporation        12 to 22 Yrs
1   Bangalore\n+6                        techno endura       Bangalore\n+9
2   Bangalore\n+9             sahast sales corporation           0 to 1 Yr
3  Bangalore\n+12                  radhika enterprises       Bangalore\n+6
4       Bangalore        ara resources private limited        12 to 22 Yrs
5   Bangalore\n+3    diraa hr services hiring for mncs       Bangalore\n+9
6   Bangalore\n+2                  ltimindtree limited          0 to 4 Yrs
7   Bangalore\n+9               primecore mir services      Bangalore\n+12
8       Bangalore  uprighthc solutions private limited          4 to 9 Yrs
9   Bangalore\n+9              v-tech data outsourcing           Bangalore